body {
    min-width: 300px;
    min-height: 250px;
    font-size: 15px;
}

input {
    margin: 5px;
    outline: none;
}

img {
    height: 16px;
    width: 16px;
}

.square {
    height: 175px;
    width: 175px;
    margin: 10px;
}

h1 {
    font-size: 20px;
}

div {
    margin-bottom: 15px;
}